In [1]:
import os
import pyodbc
import numpy as np
import pandas as pd
import csv

In [2]:
conn = pyodbc.connect('Driver={SQL Server};' #Connections Removed
                      'Server={Server};'
                      'Database={Database};'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [4]:
seq = cursor.execute('''Select pitch.[GameId]
                        ,pitch.[EventNum]
                        ,pitch.[SequenceNumber]
                        ,[Pitch]
                        , pt.*
                        , maxseq
                        from stage.PitchByPitch pitch
                        left join work.ActionByCount abc
                        on pitch.GameId = abc.GameID
                        and pitch.EventNum = abc.Eventnum
                        and pitch.SequenceNumber  = abc.SequenceNumber
                        join stage.PitchType pt
                        on pitch.Pitch = pt.PitchCode
                        join (select Max(sequencenumber) maxseq, Gameid, eventnum from stage.PitchByPitch group by gameid, eventnum) maxs
                                                            on pitch.GameId = maxs.GameId
                                                            and pitch.EventNum = maxs.EventNum
                        where abc.Eventnum is null
                        Order by GameId, Eventnum, SequenceNumber
                            ''').fetchall()

In [7]:
for row in seq:
    gameid = row[0]
    event = row[1]
    action = row[2]
    pitchtype = row[3]
    isPitch = row[6]
    isStrike = row[7]
    isBall = row[8]
    foul = row[13]
    foulTip = row[14]
    maxseq = row[20]
    
    if action == 1:
        strikes = 0
        balls = 0
    
    currentBalls = balls
    currentStrikes = strikes
    
    if isBall == 1:
        balls += 1
    
    if isStrike == 1:
        strikes += 1
    
    if foul == 1 and strikes > 2:
        strikes -= 1
    
    if pitchtype == 'L' and currentStrikes == 2:
        strikes += 1
    
    if foulTip == 1 and currentStrikes == 2 and pitchnum == maxseq:
        strikes += 1
    
    lines = [gameid, event, action, pitchtype, currentBalls, currentStrikes, None, None, None, None
            , balls, strikes]
    cmd = """Insert into work.ActionByCount 
            Values ('{}', {}, {}, '{}', {}, {}, NULL, NULL, NULL, NULL, {},{})
    """.format(gameid, event, action, pitchtype, currentBalls, currentStrikes, balls, strikes)
    
    cursor.execute(cmd)
    
    print('executed: {}'.format(cmd))

executed: Insert into work.ActionByCount
            Values ('ANA201208100', 72, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('ANA201208100', 72, 2, 'S', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('ANA201208100', 72, 3, 'S', 0, 1, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('ANA201208100', 72, 4, '*', 0, 2, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('ANA201208100', 72, 5, 'B', 0, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('ANA201208100', 72, 6, 'B', 1, 2, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 1, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 2, 'S', 0, 1, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 3, '*', 0, 2, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 4, 'B', 0, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 5, 'F', 1, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 6, 'B', 1, 2, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('ANA201506280', 80, 7, 'B', 2, 2, NULL, NULL, NULL, NULL, 3,2)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 3, 'F', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 4, '>', 1, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 5, 'C', 1, 1, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 6, '.', 1, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('ANA201508050', 74, 7, 'B', 1, 2, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('ARI201608260', 101, 1, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('ARI201608260', 101, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('ATL201106160', 97, 1, 'S', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('ATL201106160', 97, 2, 'N', 0, 1, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('ATL201206080', 90, 1, '*', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('ATL201206080', 90, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('ATL201206080', 90, 3, '>', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('ATL201206080', 90, 4, 'C', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('BAL201406250', 99, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('BAL201604200', 84, 1, '*', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('BAL201604200', 84, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('BAL201604200', 84, 3, 'F', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('BAL201604200', 84, 4, 'B', 1, 1, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('CHA201107040', 80, 1, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('CHA201107040', 80, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CHA201107040', 80, 3, '.', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CHA201107040', 80, 4, 'N', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CHN201608030', 88, 1, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('CHN201608030', 88, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('CHN201708160', 81, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CIN201607170', 66, 1, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('CIN201607170', 66, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CIN201607170', 66, 3, '.', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CIN201607170', 66, 4, 'S', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('CLE201405210', 130, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('CLE201405210', 130, 2, 'N', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('COL201108240', 97, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('COL201108240', 97, 2, 'F', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('COL201108240', 97, 3, 'B', 1, 1, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('COL201507240', 81, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('DET201004110', 94, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('DET201606230', 89, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('DET201606230', 89, 2, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('DET201809080', 74, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('DET201809080', 74, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('FLO201005130', 68, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('FLO201005130', 68, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('HOU201307230', 80, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('HOU201307230', 80, 2, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('KCA201107200', 88, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('KCA201107200', 88, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('KCA201107200', 88, 3, 'S', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('KCA201107200', 88, 4, 'B', 1, 1, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('KCA201107200', 88, 5, 'S', 2, 1, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 1, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 3, '.', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 4, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 5, 'F', 2, 0, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 6, 'C', 2, 1, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('KCA201604100', 88, 7, 'B', 2, 2, NULL, NULL, NULL, NULL, 3,2)

executed: Insert into work.ActionByCount
            Values ('LAN201005310', 71, 1, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('LAN201005310', 71, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('LAN201005310', 71, 3, 'B', 1, 1, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('LAN201005310', 71, 4, 'S', 2, 1, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('LAN201005310', 71, 5, 'N', 2, 2, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('LAN201306070', 77, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('LAN201306070', 77, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('LAN201306070', 77, 3, '1', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('LAN201306070', 77, 4, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('LAN201409270', 103, 1, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('LAN201409270', 103, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('LAN201409270', 103, 3, '.', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('LAN201409270', 103, 4, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('LAN201506180', 66, 1, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('LAN201506180', 66, 2, 'S', 0, 1, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('LAN201506180', 66, 3, 'B', 0, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('LAN201506180', 66, 4, 'F', 1, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('LAN201506180', 66, 5, 'F', 1, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('LAN201506180', 66, 6, 'N', 1, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('MIA201304300', 62, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('MIA201309290', 67, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('MIA201309290', 67, 2, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('MIL201207010', 73, 1, '1', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('MIL201207010', 73, 2, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('MIL201207010', 73, 3, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('MIL201704070', 90, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('MIL201704070', 90, 2, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('MIL201704070', 90, 3, 'F', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('MIL201704070', 90, 4, 'F', 0, 1, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('MIL201704070', 90, 5, 'B', 0, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('MIL201708120', 92, 1, 'F', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('MIL201708120', 92, 2, 'C', 0, 1, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('MIL201708120', 92, 3, 'B', 0, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('MIN201005040', 71, 1, 'S', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('MIN201005040', 71, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('NYA201204270', 86, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('NYA201204270', 86, 2, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('NYA201204270', 86, 3, 'B', 2, 0, NULL, NULL, NULL, NULL, 3,0)

executed: Insert into work.ActionByCount
            Values ('NYA201309080', 80, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('NYA201606300', 73, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('NYA201606300', 73, 2, 'F', 1, 0, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('NYA201606300', 73, 3, 'B', 1, 1, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('OAK201809220', 77, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('OAK201809220', 77, 2, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('OAK201809220', 77, 3, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('SDN201607160', 94, 1, 'N', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('SEA201709020', 87, 1, 'S', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('SEA201709020', 87, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('SEA201808180', 84, 1, 'F', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('SEA201808180', 84, 2, 'N', 0, 1, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('SLN201109240', 71, 1, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('SLN201109240', 71, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('SLN201309130', 80, 1, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('TBA201104300', 73, 1, 'S', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('TBA201104300', 73, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('TBA201104300', 73, 3, 'C', 1, 1, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('TBA201104300', 73, 4, 'B', 1, 2, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('TBA201409060', 76, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('TBA201409060', 76, 2, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('TBA201409060', 76, 3, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('TBA201409060', 76, 4, 'B', 0, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('TBA201409060', 76, 5, '.', 1, 0, NULL, NULL, NULL, NULL, 1,0)

executed: Insert into work.ActionByCount
            Values ('TBA201409060', 76, 6, 'B', 1, 0, NULL, NULL, NULL, NULL, 2,0)

executed: Insert into work.ActionByCount
            Values ('TOR201607260', 100, 1, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('TOR201607260', 100, 2, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('TOR201607260', 100, 3, '.', 0, 1, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('TOR201607260', 100, 4, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 2, '>', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 3, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 4, '.', 0, 1, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 5, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 6, 'B', 1, 1, NULL, NULL, NULL, NULL, 2,1)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 7, 'C', 2, 1, NULL, NULL, NULL, NULL, 2,2)

executed: Insert into work.ActionByCount
            Values ('WAS201107040', 85, 8, 'B', 2, 2, NULL, NULL, NULL, NULL, 3,2)

executed: Insert into work.ActionByCount
            Values ('WAS201204120', 81, 1, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('WAS201204120', 81, 2, 'B', 0, 1, NULL, NULL, NULL, NULL, 1,1)

executed: Insert into work.ActionByCount
            Values ('WAS201207170', 83, 1, '.', 0, 0, NULL, NULL, NULL, NULL, 0,0)

executed: Insert into work.ActionByCount
            Values ('WAS201207170', 83, 2, 'C', 0, 0, NULL, NULL, NULL, NULL, 0,1)

executed: Insert into work.ActionByCount
            Values ('WAS201207170', 83, 3, 'F', 0, 1, NULL, NULL, NULL, NULL, 0,2)

executed: Insert into work.ActionByCount
            Values ('WAS201207170', 83, 4, 'B', 0, 2, NULL, NULL, NULL, NULL, 1,2)

executed: Insert into work.ActionByCount
            Values ('WAS201207170', 83, 5, 'B', 1, 2, NULL, NULL, NULL, NULL, 2,2)

In [8]:
cursor.commit()